@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
.project-info{
    height:100vh;
}
.project-info img{
    width:200px;
    position:relative;
    top:80px;
    
    right:10px;
}
.flip-card-front{
    background-image: url('images/weather.png');
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 350px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    border-radius:10px;/* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #777777;
    color: black;
    border-radius: 10px;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-image:  linear-gradient(90deg, #FF5153 0%, #FE7273 80%);
    color: white;
    border-radius:10px;
    transform: rotateY(180deg);
  }
  .flip-card-back p{
  font-family:"Roboto", sans-serif;}
  .flip-card-back  h1{
    font-family: "Heebo", sans-serif;
    margin-top:20px;
  }

button#gofor{
    width:150px;
    height:40px;
    font-family:"Roboto", sans-serif; 
    border:none;
    border-radius:10px;
    outline:none;
    cursor:point;
    background-color: #777777;
    color:white;
}
#gofor a{
    text-decoration:none;
    color:white;
}
.row1{
  
    margin-top:100px;
  }

.row2{
  margin-top:20px;
  display:flex;
  justify-content: center;
}
#project-head{
    font-family:"Heebo", sans-serif;
    position:relative;
    top:50px;

}
.project-headd{
  display:flex;
  justify-content: center;
align-items: center;;

}